{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="text-center" style="color: #000000;">
        <h1 style="font-size: 3em; font-weight: bold; margin-bottom: 20px;">Welcome to Lost & Found App</h1>
        <p style="font-size: 1.5em; margin-bottom: 30px;">
            The Lost & Found App helps you report and locate lost items. Use our platform to connect with others and improve the chances of finding your lost belongings.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://kefa.my.canva.site/project-landing-page" style="padding: 15px 30px; font-size: 1.2em;">Explore the Lost & Found App</a></p>
    </div>
</div>
{% endblock %}

