{% extends 'base.html' %}

{% block content %}
<div class="content">
    <h1>Lost & Found App</h1>
    <p class="description">
        The Lost and Found App is a user-friendly web application designed to help people report lost items and help others find their lost items. It is customizable and can be integrated with existing systems to provide a seamless user experience.
    </p>
    <p class="description">
        It allows users to easily submit details about lost items, view reported items, and communicate with other users to facilitate the return of lost belongings.
    </p>
</div>
{% endblock %}

