{% extends "base.html" %}

{% block title %}Report Found Item{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Report Found Item</h2>
    <form method="POST" action="{{ url_for('main.report_found') }}" enctype="multipart/form-data" class="report-form">
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter a detailed description of the found item..." required></textarea>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Where was the item found?" required>
        </div>
        <div class="form-group">
            <label for="date_found">Date Found:</label>
            <input type="date" class="form-control" id="date_found" name="date_found" required>
        </div>
        <div class="form-group">
            <label for="reporter_contact">Reporter_Contact:</label>
            <input type="number" class="form-control" id="reporter_contact" name="reporter_contact" placeholder="Enter your contact number" required>
	</div>
        <div class="form-group">
            <label for="photo">Upload Photo:</label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

